.college-image{
   width: 300px;
   height: 250px;
}
.collegeCard-body{
   width: 320px;
   height: 250px;
   
  
}
/* .college-card {
   margin: 5px;
} */

@media only screen and (max-width: 600px) {
 .card-sizee{
   margin: 0 auto;
 
 }
 .college-card{
   margin-left: 35px;

 }
 .collegeRoute-title{
   font-size: 18px;
 }
 
   }