.college-img{
    width:100%;
    height: 200px;
}
.home-page-image{
  width: 100%;
  height: 80%;
}
.search-icon{
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
   .card-section{
    margin: 0;

   }
   .card-width{
     width: 90%;
     margin-left: 18px;
   }
  
  }