.about-title{
    color: #FF7350;
    font-size: 30px;
    font-weight: bolder;
}

.about-heading{
    color: black;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 15px;
}
.text-color{
    color: #FF7350;
    font-style: italic;
}
.descript-1{
    font-size: 20px;
    color: #014C63;
}
.descript-2{
    color: gray;
    font-size: 17px;
}
.badgee{
    background-color: #FF7350;
    border-radius: 50px;
    color: white;
}
.point-descript{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.description{
    font-size: 18px;
    color: gray;
}



@media only screen and (max-width: 600px) {
  .about-img{
    padding:40px;
  }
  .point-descript{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.des-point{
    font-size: 16px;
    font-weight: bold;
}
  .about-title{
  font-size: 20px;
  padding: 0px 20px;
  }
  .about-heading{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    padding: 0px 30px;
}
  .descript-1{
    padding: 0px 30px;
  }
  .descript-2{
    padding: 0px 30px;
  }
  .spacial-point{
    padding: 0px 12px;
  }
  .about-btn{
    padding: 0px 30px;
  }
  .about-section{
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px;
  }


 
      }