.footer{
    background-color: #014C63;
}
.about-link{
    font-size: 22px;
    font-weight: bolder;
}
.aboutLink-Title{

    font-size: 17px;
   
}
.Ours-link{
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}
.our-link{
    margin-top: 10px;
}
.about-singleLink{
    line-height: 5px;
    font-size: 18px;
}
.about-singleLink:hover{
    text-decoration: underline;
}
.phone-icon{
    background-color: #FF7350 ;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
}
.contact-text{
    font-size: 18px;
    text-align: start;
}
@media only screen and (max-width: 600px) {
.our-link {
    text-align: start;
}
.our-linkSection{
    margin: 0;
    padding: 0;
    margin-top: 35px;
    
}
.about-link {
    margin: 0;
    padding: 0;
}
.aboutLink-Title{
 margin: 0;
 padding: 20px 0px;
 
}
.single-AboutLink{
    margin: 0;
    padding:20px 0;
    text-align: start;

}
.about-link{
    text-align: start;
    margin: 0px;
    padding: 0px;
}
.contact-list{
    margin:10px 0px;
    padding: 0;
text-align: start;
}
.contact-section{
    padding: 0;
    margin: 0;
}
.phone-icon{
    background-color: #FF7350 ;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}
   
        }